@import "tailwindcss";

:root {
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-inter);

  --color-primary: #b00000;
  --color-ffe87a: #ffe87a;
  --color-2e2e2e: #2e2e2e;
  --color-808080: #808080;
  --color-c4c4c4: #c4c4c4;
  --color-dad8d8: #dad8d8;
  --color-e5e5e5: #e5e5e5;
}

html {
  font-family: var(--font-primary), system-ui, sans-serif;
}

.font-inter {
  font-family: var(--font-secondary), system-ui, sans-serif;
}
